/* body */
body{
    background-color: black;
    overflow-x: hidden;
    background-image: url("https://wallpapercave.com/wp/wp4884716.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
/* favourite button */
#fav_btn
{
    height:30px;
    width:fit-content;
    padding:10px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 1rem;
    color:black;
    font-size: 1.3rem;
    font-weight: bold;
}
/* if positive message */
.success{
    background-color: rgb(6, 226, 6);
    margin-left: 20%;
}
/* if negative message */
.error{
    background-color: rgb(255, 17, 17);
    margin-left: 10%;
}
/* notification alert */
#alert{
    visibility: hidden;
    position: sticky;
    top:0%;
    left:85%;
    z-index:100;
    color:black;
    font-weight: bold;
    height:20px;
    width:auto;
    padding:20px;
    border-radius: 1rem;
    transition-duration: 1000ms;
    font-size: 1.5rem;
}
/* header */
header{
    position: fixed;
   top:0%;
   margin-left: -0.5%;
   z-index:10;
   width:101%;
   margin-top: 0;
   background-color: black;
}
/* heading of the app */
#app_heading{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: -1%;
    padding-top: 1%;
}
/* additional padding */
.add_padd{
    padding:10px;
    border-radius: 1rem;
    border:2px solid blueviolet;
}
/* name of the app */
.app_name{
    font-size: 3rem;
    background-color: black;
    margin-top: 5px;
}
.app_name a{
    color:white;
    text-decoration: none;
}
.app_name a:hover{
    color:yellow;
}
/* favourite button */
.favourites button{
    font-size: 2rem;
    border:2px solid blueviolet;
    background-color: black;
    margin-top: 10px;
    border-radius: 1rem;
    padding:10px;
    cursor: pointer;
    
}
.favourites button a{
    color:white;
    text-decoration: none;
}
.favourites button a:hover{
    color:yellow;
}
/* nav-bar */
nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    padding:10px;
    width: 100%;
    border:2px solid blueviolet;
    background-color: black;
}
nav div a{
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    text-shadow: 2px 2px black;
}
nav div a:hover{
    color: yellow;
}
/* helper class */
.helper{
    position: relative;
    top:20%;
}
/* details of a hero */
#hero-detail{
    position: relative;
    display: flex;
    flex-direction: column;
    
}
/* name of the hero */
#hero-name{
    font-size: 3rem;
    color:white;
    background-color: black;
    margin-bottom: 50px;
    width:fit-content;
    position: relative;
    left:40%;
    border-radius: 1rem;
}
/* hero image */
#hero_img
{
    height:500px;
    width:300px;
    align-items: center;
    background-color: black;
}
#hero_img img{
    height:80%;
    width: 100%;
    border-radius: 1rem;
}
/* details of the hero */
#main-details
{
    display: flex;
    flex-direction: row;
    position: relative;
    left:10%;
}
/* apperance power and other details */
#other-details{
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
    left:10%;
    padding:10px 30px;
    border-radius: 1rem;
    width:30%;
}
/* heading of characteristics of a hero */
.heading{
    font-size: 2rem;
    color:white;
    font-weight: bold;
}
/* powerstats */
#power{
    color:white;
    font-weight: bold;
    font-size: 1.3rem;
}
/* text class */
.text{
    color:white;
    font-weight: bold;
    font-size: 1.3rem;
}
